In [ ]:
import pandas as pd

In [ ]:
data={
    'name':['Alice','Bob','Claire'],
    'age':[25,30,27],
    'gender':['Female','Male','Female']
}

In [ ]:
df=pd.DataFrame(data)

In [ ]:
df.to_json('data.json',orient='records',indent=4)

In [ ]:
json_output=df.to_json(orient='records',indent=4)

In [ ]:
print(json_output)

[
    {
        "name":"Alice",
        "age":25,
        "gender":"Female"
    },
    {
        "name":"Bob",
        "age":30,
        "gender":"Male"
    },
    {
        "name":"Claire",
        "age":27,
        "gender":"Female"
    }
]